<aside class="aside-container">
    <figure class="aside-figure">
        <img src="/images/author/anhtu.jpg" alt="anh tu" class="aside-img">
    </figure>
    <section class="aside-content">
        <p class="aside-text">love yourz.</p>
        <nav class="aside-nav">
        <ul class="aside-nav-items">
            <li class="aside-nav-item">
            <a href="https://fb.com/tuhoanganhle" class="aside-nav-link" target="_blank">
                <i class="fab fa-facebook"></i>
            </a>
            </li>
            <li class="aside-nav-item">
            <a href="https://instagram.com/tuhoanganhle" class="aside-nav-link" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            </li>
            <li class="aside-nav-item">
            <a href="https://www.youtube.com/c/remyhr" class="aside-nav-link" target="_blank">
                <i class="fab fa-youtube"></i>
            </a>
            </li>
        </ul>
        </nav>
    </section>
</aside>
