<div id="home"></div>
<header class="header-container">
    <button class="theme-toggle">
      <span class="theme-toggle-btn dark-btn material-icons-outlined">
        dark_mode
      </span>
      <span class="theme-toggle-btn light-btn hidden material-icons-outlined">
        light_mode
      </span>
    </button>
    <a href="/" class="header-logo">
    </a>
    <button class="menu-toggle">
      <span class="menu-toggle-btn material-icons-outlined">
        menu
      </span>
    </button>
    <nav class="header-nav">
      <ul class="header-nav-items">
        <li class="header-nav-item">
          <a href="/" class="header-nav-link">home</a>
        </li>
        <li class="header-nav-item">
          <a href="/posts/" class="header-nav-link">posts</a>
        </li>
        <li class="header-nav-item">
          <a href="/tags/" class="header-nav-link">tags</a>
        </li>
      </ul>
    </nav>
</header>